@media only screen and (max-width: 768px) {
  .container-fluid .main > div:nth-child(1) {
    display: none; }
  .container-fluid .main > div:nth-child(3) {
    display: none; }
  .container-fluid .main > div:nth-child(5) {
    display: block; }
  .container-fluid .main > div:nth-child(7) {
    display: none; }
  .container-fluid .main > div:nth-child(9) {
    display: none; }
  .container-fluid .main > div:nth-child(10) {
    display: none; }
  .container-fluid .main > div:nth-child(11) {
    display: none; }
  .container-fluid .main > div:nth-child(13) {
    display: none; }
  .container-fluid .main > div:nth-child(14) {
    display: none; }
  .container-fluid .main > div:nth-child(2) {
    display: block; }
  .container-fluid .main > div:nth-child(4) {
    display: block; }
  .container-fluid .main > div:nth-child(6) {
    display: none; }
  .container-fluid .main > div:nth-child(8) {
    display: block; }
  .container-fluid .main > div:nth-child(10) {
    display: block; }
  .container-fluid .main > div:nth-child(12) {
    display: block; }
  .container-fluid .main > div:nth-child(15) {
    display: block; }

  .container-fluid .footer-all > div:nth-child(2) {
    display: none; }

  .padding-main {
    padding: 4% 3%; }

  .start button {
    padding: 13.5px 33px;
    font-size: 14px;
    color: none;
    font-weight: none; }

  .header {
    height: 425px;
    background-image: url("../image/header-tb.png");
    background-size: cover;
    background-repeat: no-repeat; }
    .header .logo img {
      margin-top: -8%;
      width: 144px;
      height: 35px; }
    .header .icon-text {
      margin-top: -1.5%;
      font-size: 24px;
      color: none;
      font-weight: none; }
      .header .icon-text .clock {
        margin: 0 -18%; }
      .header .icon-text p {
        font-size: 24px;
        color: none;
        font-weight: none; }
    .header .text-header {
      margin: -3% 0 3% 0;
      font-size: 14px;
      color: none;
      font-weight: none;
      letter-spacing: -0.3px; }
    .header .click-button {
      padding: 2% 4%; }
      .header .click-button .about-us {
        margin-right: 5px; }

  .padding-footer {
    padding: 0 2%; }

  .main .start button {
    margin-top: 20px; }
  .main .today-tb-mb {
    box-shadow: -10px 5px 10px #d8d8d8; }
  .main .customers-tb-mb {
    box-shadow: 10px -5px 10px #d8d8d8 !important; }
  .main .header-main {
    font-size: 36px;
    color: none;
    font-weight: lighter; }
    .main .header-main i {
      margin: 2.5% 1% 0;
      font-size: 30px;
      color: none;
      font-weight: none; }
  .main .quote-main {
    margin-bottom: 3%;
    font-size: 14px;
    color: none;
    font-weight: none; }
  .main .footer-main-img {
    padding: 0 !important; }
    .main .footer-main-img img {
      width: 355px;
      height: 238px; }
  .main .footer-main-text {
    line-height: 21px;
    text-align: justify;
    padding: 0 !important;
    font-size: 13px;
    color: none;
    font-weight: none; }
    .main .footer-main-text p {
      width: 94.5%;
      height: none; }
    .main .footer-main-text .text-footer {
      width: 94.5%;
      height: 75px; }
      .main .footer-main-text .text-footer div {
        padding: 0 10px 0 16px;
        color: #8bc34a; }
      .main .footer-main-text .text-footer .text {
        overflow: hidden;
        width: 100%; }
  .main .option {
    padding: 1% 0; }
  .main .our-customer-tb {
    background: url("../image/our-tb.png") no-repeat;
    color: white;
    padding: 5% 2%; }
    .main .our-customer-tb h1 {
      padding-bottom: 3%;
      font-size: 36px;
      color: none;
      font-weight: lighter;
      letter-spacing: -0.07px; }
    .main .our-customer-tb .customer p {
      font-size: 10px;
      color: none;
      font-weight: none; }
    .main .our-customer-tb .carousel-indicators {
      margin-bottom: -20px; }
      .main .our-customer-tb .carousel-indicators li {
        border-radius: 100%;
        background-color: unset;
        border: 1px solid #979797;
        margin: 0 15px;
        width: 10px;
        height: 10px; }
      .main .our-customer-tb .carousel-indicators .active {
        background-color: #FFFFFF; }
    .main .our-customer-tb .carousel-inner {
      padding: 15px 5px; }
    .main .our-customer-tb .quote {
      margin-top: 10px; }
      .main .our-customer-tb .quote i {
        font-size: 64px;
        opacity: 0.4; }
      .main .our-customer-tb .quote p {
        margin: 10% 0 0 0;
        letter-spacing: -0.03px;
        text-align: justify;
        font-size: 18px;
        color: none;
        font-weight: none; }
      .main .our-customer-tb .quote .quote-right {
        padding-top: 13%; }

  .footer a {
    font-size: 10px;
    color: none;
    font-weight: none; }
  .footer p {
    font-size: 13px;
    color: none;
    font-weight: none; }
  .footer img {
    margin-bottom: 4%; }
  .footer .end {
    width: 10%; } }
@media only screen and (min-width: 375px) and (max-width: 479px) {
  .container-fluid .main > div:nth-child(1) {
    display: none; }
  .container-fluid .main > div:nth-child(3) {
    display: none; }
  .container-fluid .main > div:nth-child(5) {
    display: none; }
  .container-fluid .main > div:nth-child(7) {
    display: none; }
  .container-fluid .main > div:nth-child(9) {
    display: none; }
  .container-fluid .main > div:nth-child(10) {
    display: none; }
  .container-fluid .main > div:nth-child(11) {
    display: none; }
  .container-fluid .main > div:nth-child(12) {
    display: none; }
  .container-fluid .main > div:nth-child(14) {
    display: none; }
  .container-fluid .main > div:nth-child(2) {
    display: block; }
  .container-fluid .main > div:nth-child(4) {
    display: block; }
  .container-fluid .main > div:nth-child(6) {
    display: block; }
  .container-fluid .main > div:nth-child(8) {
    display: block; }
  .container-fluid .main > div:nth-child(13) {
    display: block; }
  .container-fluid .main > div:nth-child(15) {
    display: block; }

  .container-fluid .footer-all > div:nth-child(2) {
    display: block; }
  .container-fluid .footer-all > div:nth-child(1) {
    display: none; }

  .start button {
    padding: 11px 33px;
    font: 14px !important; }

  .padding-main {
    padding: 4% 3%; }

  .padding-footer {
    padding: 5% 2%; }

  .header {
    height: 266px;
    background-image: url("../image/header-mb.png");
    background-size: cover;
    background-repeat: no-repeat; }
    .header .start {
      padding-top: 4%; }
    .header .logo img {
      margin-top: -7%;
      width: 96px;
      height: 25px; }
    .header .icon-text {
      margin-top: -1.5%;
      font-size: 18px;
      color: none;
      font-weight: none; }
      .header .icon-text p {
        font-size: 18px;
        color: none;
        font-weight: none; }
    .header .text-header {
      margin: -4% 0 -1% 0;
      font-size: 9px;
      color: none;
      font-weight: none;
      letter-spacing: -0.5px; }
    .header .click-button {
      padding: 3% 8.5%; }

  .main .header-main {
    font-size: 24px;
    color: none;
    font-weight: none; }
    .main .header-main i {
      font-size: 20px;
      color: none;
      font-weight: none; }
  .main .quote-main {
    font-size: 13px;
    color: none;
    font-weight: lighter; }
  .main .footer-main-text {
    font-size: 13px;
    color: none;
    font-weight: lighter;
    letter-spacing: 0; }
    .main .footer-main-text .text-footer {
      width: 96%;
      height: 75px; }
      .main .footer-main-text .text-footer p {
        margin-top: -5px; }
  .main .footer-main-img img {
    width: 94.5%; }
  .main .footer-main-img .img-members img {
    margin: 0 0 4% 2.5%;
    width: 94.5%; }
  .main .option-tb-mb {
    background-image: linear-gradient(to right, #429321, #b4ec51); }
    .main .option-tb-mb .circle {
      border-radius: 100px;
      border: 1.5px solid white;
      font-size: 36px;
      color: white;
      font-weight: lighter;
      width: 105px;
      height: 105px; }
    .main .option-tb-mb .small-circle {
      border-radius: 100px;
      border: 1.5px solid white;
      margin-top: -15px;
      background-image: linear-gradient(to right, #429321, #b4ec51);
      width: 40px;
      height: 40px;
      font-size: 24px;
      color: white;
      font-weight: lighter; }
    .main .option-tb-mb p {
      color: white; }
    .main .option-tb-mb .text {
      width: 69px; }
    .main .option-tb-mb .carousel-item {
      padding: 20px 0; }
    .main .option-tb-mb .carousel-indicators {
      margin-bottom: -20px; }
      .main .option-tb-mb .carousel-indicators li {
        border-radius: 100%;
        background-color: unset;
        margin: 30px 10px;
        border: 1px solid #979797;
        width: 10px;
        height: 10px; }
      .main .option-tb-mb .carousel-indicators .active {
        background-color: #FFFFFF; }
  .main .our-customer-mb {
    background: url("../image/our-tb.png") no-repeat;
    color: white;
    padding: 3% 2%; }
    .main .our-customer-mb h1 {
      padding-bottom: 3%;
      font-size: 24px;
      color: none;
      font-weight: lighter;
      letter-spacing: -0.05px; }
    .main .our-customer-mb .customer p {
      font-size: 10px;
      color: none;
      font-weight: none; }
    .main .our-customer-mb .carousel-indicators {
      margin-bottom: -20px; }
      .main .our-customer-mb .carousel-indicators li {
        margin: 0 10px;
        border-radius: 100%;
        background-color: unset;
        border: 1px solid #979797;
        width: 10px;
        height: 10px; }
      .main .our-customer-mb .carousel-indicators .active {
        background-color: #FFFFFF; }
    .main .our-customer-mb .quote {
      margin-top: 10px; }
      .main .our-customer-mb .quote i {
        font-size: 48px;
        opacity: 0.4; }
      .main .our-customer-mb .quote p {
        letter-spacing: -0.03px;
        text-align: justify;
        font-size: 14px;
        color: none;
        font-weight: none;
        margin-bottom: -20px; }

  .footer-tb-mb {
    background-color: #39474e; }
    .footer-tb-mb .hapo-erp img {
      margin-bottom: 5%;
      width: 96px;
      height: 24px; }
    .footer-tb-mb .footer-header a {
      font-size: 10px;
      color: white;
      font-weight: none; }
    .footer-tb-mb .footer-header p {
      font-size: 13px;
      color: #8bc34a;
      font-weight: none; }
    .footer-tb-mb .footer-end {
      margin-top: 4%; }
      .footer-tb-mb .footer-end .end a {
        width: 40px;
        font-size: 13px;
        color: #8bc34a;
        font-weight: none; }
      .footer-tb-mb .footer-end .text {
        font-size: 10px;
        color: white;
        font-weight: none; } }

/*# sourceMappingURL=reponsive.css.map */
