@import "attribute.scss";

@media only screen and (max-width: 768px) {
    .container-fluid .main {
        >div {
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(3) {
                display: none;
            }

            &:nth-child(5) {
                display: block;
            }

            &:nth-child(7) {
                display: none;
            }

            &:nth-child(9) {
                display: none;
            }

            &:nth-child(10) {
                display: none;
            }

            &:nth-child(11) {
                display: none;
            }

            &:nth-child(13) {
                display: none;
            }

            &:nth-child(14) {
                display: none;
            }

            &:nth-child(2) {
                display: block;
            }

            &:nth-child(4) {
                display: block;
            }

            &:nth-child(6) {
                display: none;
            }

            &:nth-child(8) {
                display: block;
            }

            &:nth-child(10) {
                display: block;
            }

            &:nth-child(12) {
                display: block;
            }

            &:nth-child(15) {
                display: block;
            }
        }
    }

    .container-fluid .footer-all {
        >div {
            &:nth-child(2) {
                display: none;
            }
        }
    }

    .padding-main {
        padding: 4% 3%;
    }

    .start {
        button {
            padding: 13.5px 33px;
            @include font(14px, none, none);
        }
    }

    .header {
        height: 425px;

        background : {
            image: url("../image/header-tb.png");
            size: cover;
            repeat: no-repeat;
        }

        .logo {
            img {
                margin-top: -8%;
                @include size(144px, 35px);
            }
        }

        .icon-text {
            margin-top: -1.5%;
            @include font(24px, none, none);

            .clock {
                margin: 0 -18%;
            }

            p {
                @include font(24px, none, none);
            }
        }

        .text-header {
            margin: -3% 0 3% 0;
            @include font(14px, none, none);
            letter-spacing: -0.3px;
        }

        .click-button {
            padding: 2% 4%;

            .about-us {
                margin-right: 5px;
            }
        }
    }

    // End header

    .padding-footer {
        padding: 0 2%;
    }

    .main {
        .today-tb-mb {
            box-shadow: -10px 5px 10px #d8d8d8;
        }

        .customers-tb-mb {
            box-shadow: 10px -5px 10px #d8d8d8 !important;
        }

        .header-main {
            @include font(36px, none, lighter);

            i {
                margin: 2.5% 1% 0;
                @include font(30px, none, none);
            }
        }

        .quote-main {
            margin-bottom: 3%;
            @include font(14px, none, none);
        }

        .footer-main-img {
            padding: 0 !important;

            img {
                @include size(355px,238px);
            }
        }

        .footer-main-text {
            line-height: 21px;
            text-align: justify;
            padding: 0 !important;
            @include font(13px, none, none);

            p {
                @include size(355px,238px);
            }

            .text-footer {
                div {
                    color: #8bc34a;
                }

                .text {
                    overflow: hidden;
                    @include size(325px, 61px);
                }
            }
        }

        .option {
            padding: 1% 0;
        }

        .our-customer-tb {
            background: url("../image/our-tb.png") no-repeat;
            color: white;
            padding: 5% 2%;

            h1 {
                padding-bottom: 3%;
                @include font(36px, none, lighter);
                letter-spacing: -0.07px;
            }

            .customer {
                p {
                    @include font(10px, none, none);
                }
            }

            .carousel-indicators {
                margin-bottom: -20px;

                li {
                    border-radius: 100%;
                    @include size(10px, 10px);
                }
            }

            .quote {
                margin-top: 10px;

                i {
                    font-size: 64px;
                    opacity: 0.4;
                }

                p {
                    margin: 10% 0 0 0;
                    letter-spacing: -0.03px;
                    text-align: justify;
                    @include font(18px, none, none);
                }

                .quote-right {
                    padding-top: 13%;
                }
            }
        }
    }

    // End main

    .footer {
        a {
            @include font(10px, none, none);
        }

        p {
            @include font(13px, none, none);
        }

        img {
            margin-bottom: 4%;
        }

        .end {
            width: 10%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .container-fluid .main {
        >div {
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(3) {
                display: none;
            }

            &:nth-child(5) {
                display: none;
            }

            &:nth-child(7) {
                display: none;
            }

            &:nth-child(9) {
                display: none;
            }

            &:nth-child(10) {
                display: none;
            }

            &:nth-child(11) {
                display: none;
            }

            &:nth-child(12) {
                display: none;
            }

            &:nth-child(14) {
                display: none;
            }

            &:nth-child(2) {
                display: block;
            }

            &:nth-child(4) {
                display: block;
            }

            &:nth-child(6) {
                display: block;
            }

            &:nth-child(8) {
                display: block;
            }

            &:nth-child(10) {
                display: block;
            }

            &:nth-child(13) {
                display: block;
            }

            &:nth-child(15) {
                display: block;
            }
        }
    }

    .container-fluid .footer-all {
        >div {
            &:nth-child(2) {
                display: block;
            }

            &:nth-child(1) {
                display: none;
            }
        }
    }

    .start {
        button {
            padding: 11px 33px;
            font: 14px !important;
        }
    }

    .padding-main {
        padding: 4% 3%;
    }

    .padding-footer {
        padding: 5% 2%;
    }

    .header {
        height: 266px;

        background : {
            image: url("../image/header-mb.png");
            size: cover;
            repeat: no-repeat;
        }

        .start {
            padding-top: 4%;
        }

        .logo {
            img {
                margin-top: -7%;
                @include size(96px, 25px);
            }
        }

        .icon-text {
            margin-top: -1.5%;
            @include font(18px, none, none);

            p {
                @include font(18px, none, none);
            }
        }

        .text-header {
            margin: -4% 0 -1% 0;
            @include font(9px, none, none);
            letter-spacing: -0.5px;
        }

        .click-button {
            padding: 3% 8.5%;
        }
    }

    // End header

    .main {
        .header-main {
            @include font(24px, none, none);

            i {
                @include font(20px, none, none);
            }
        }

        .quote-main {
            @include font(13px, none, lighter);
        }

        .footer-main-text {
            @include font(13px, none, lighter);

            p {
                @include size(460px, 168px);
            }

            .text-footer {
                margin: 0 0 2% 2.5%;
                
                .text {
                    margin: -4% 0 0 4%;
                    @include size(431px, 67px);
                }
            }
        }

        .footer-main-img {
            img {
                @include size(460px, 308px);
            }

            .img-members {
                img {
                    margin: 0 0 4% -1.5%;
                    @include size(460px, 308px);
                }
            }
        }

        .option-tb-mb {
            background-image: linear-gradient(to right, #429321, #b4ec51);

            .circle {
                border-radius: 100px;
                border: 1.5px solid white;
                @include font(36px, white, lighter);
                @include size(105px, 105px);
            }

            .small-circle {
                border-radius: 100px;
                border: 1.5px solid white;
                margin-top: -15px;
                background-image: linear-gradient(to right, #429321, #b4ec51);
                @include size(40px, 40px);
                @include font(24px, white, lighter);
            }

            p {
                color: white;
            }

            .carousel-indicators {
                margin-bottom: -20px;

                li {
                    border-radius: 100%;
                    @include size(10px, 10px);
                }
            }
        }

        .our-customer-mb {
            background: url("../image/our-tb.png") no-repeat;
            color: white;
            padding: 3% 2%;

            h1 {
                padding-bottom: 3%;
                @include font(24px, none, lighter);
                letter-spacing: -0.05px;
            }

            .customer {
                p {
                    @include font(10px, none, none);
                }
            }

            .carousel-indicators {
                margin-bottom: -20px;

                li {
                    border-radius: 100%;
                    @include size(10px, 10px);
                }
            }

            .quote {
                margin-top: 10px;

                i {
                    font-size: 48px;
                    opacity: 0.4;
                }

                p {
                    letter-spacing: -0.03px;
                    text-align: justify;
                    @include font(14px, none, none);
                    margin-bottom: -20px;
                }

            }
        }
    }

    // End main

    .footer-tb-mb {
        background-color: #39474e;

        .hapo-erp {
            img {
                margin-bottom: 5%;
                @include size(96px, 24px);
            }
        }

        .footer-header {
            a {
                @include font(10px, white, none);
            }

            p {
                @include font(13px, #8bc34a, none);
            }
        }

        .footer-end {
            margin-top: 4%;

            .end {
                a {
                    width: 40px;
                    @include font(13px, #8bc34a, none);
                }
            }

            .text {
                @include font(10px, white, none);
            }
        }
    }

    // End footer
}

//End