@import url("https://fonts.google.com/specimen/Roboto");
@import "attribute.scss";

.no-padding {
    padding: 0 !important;
    overflow-x: hidden;
}

.start {
    button {
        padding: 14.5px 52.5px;
        background: #8bc34a linear-gradient(to right, #429321, #b4ec51);
        box-shadow: 1px 1px 2px #888888;
        font: 16px roboto;

        border : {
            color: #8bc34a !important;
            radius: 100px;
        }
    }
}

.padding-main {
    padding: 100px 18.5%;
}

.padding-footer {
    padding: 0 19.5%;
}

.container-fluid .main {
    >div {
        &:nth-child(2) {
            display: none;
        }

        &:nth-child(4) {
            display: none;
        }

        &:nth-child(6) {
            display: none;
        }

        &:nth-child(8) {
            display: none;
        }

        &:nth-child(10) {
            display: none;
        }

        &:nth-child(12) {
            display: none;
        }

        &:nth-child(13) {
            display: none;
        }

        &:nth-child(15) {
            display: none;
        }
    }
}

.container-fluid .footer-all {
    >div {
        &:nth-child(2) {
            display: none;
        }
    }
}

.header {
    height: 873px;

    background : {
        image: url("../image/header-pc.png");
        size: cover;
        repeat: no-repeat;
    }

    .click-button {
        padding: 2% 20.3%;

        .about-us {
            text-decoration: none;
            padding: 0.8% 3% 0 0;
            @include font(12px, black, none);
        }

        .sign-in {
            border-radius: 100px;
            @include font(12px, none, none);
            @include size(82px, 36px);
        }
    }

    .logo {
        padding-top: 7.5%;
    }

    .icon-text {
        padding-top: 2.5%;
        text-align: center;
        @include font(48px, none, lighter);

        .icon-header {
            width: 290px;
        }

        p {
            @include font(36px, none, none);
        }
    }

    .text-header {
        font-size: 18px;
        padding: 2% 0 1.5% 0;
    }
}

// End header

.main {
    .text {
        width: 50%;

        .text-first {
            @include font(2.3vw, none, lighter);

            i {
                margin-right: 18px;
                @include font(1.5vw, none, none);
            }
        }

        p {
            &.text-two {
                margin: 15px 0 28px 0;
                @include font(0.75vw, none, none);
            }

            &.text-three {
                text-align: justify;
                line-height: 24px;
                margin-bottom: 40px;
                @include font(0.7vw, none, none);
            }
        }

        .text-big {
            margin-bottom: 13px;

            .text-four {
                div {
                    color: #8bc34a;
                    padding-right: 3%;
                    @include font(0.7vw, none, none);
                }

                .text {
                    line-height: 24px;
                    overflow-y: hidden;
                    text-align: justify;
                    margin-top: -7px;
                    @include size(100%, 50px);
                    @include font(0.7vw, none, none);
                }
            }
        }
    }

    .image {
        width: 50%;

        img {
            width: 100%;
        }
    }

    .today {
        box-shadow: -10px 5px 10px #d8d8d8;
        padding-bottom: 100px;
    }

    .customers {
        box-shadow: 10px -5px 10px #d8d8d8;
        padding-top: 100px;
    }

    .option {
        background-image: linear-gradient(to right, #429321, #b4ec51);
        padding: 0 0;

        .row {
            margin: 0 !important;
        }

        .circle {
            border-radius: 100px;
            border: 1.5px solid white;
            @include font(36px, white, lighter);
            @include size(105px, 105px);
        }

        .small-circle {
            border-radius: 100px;
            border: 1.5px solid white;
            margin-top: -15px;
            background-image: linear-gradient(to right, #429321, #b4ec51);
            @include size(40px, 40px);
            @include font(24px, white, lighter);
        }

        .text {
            color: white;
            font-size: 15px;
        }
    }

    .our-customer {
        background: url("../image/bannerend.png") no-repeat;
        color: white;
        padding: 3% 20.3%;

        h1 {
            padding-bottom: 3%;
            @include font(48px, none, lighter);
        }

        .customer {
            p {
                @include font(10px, none, none);
            }

            cursor: pointer;

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }

        .carousel-inner {
            padding: 10px 5px;
        }

        .carousel-indicators {
            margin-bottom: -20px;

            li {
                background-color: unset;
                border: 1px solid rgb(151, 151, 151);
                border-radius: 100%;
                margin: 0 10px;
                @include size(10px, 10px);
            }

            .active {
                background-color: #FFFFFF;
            }
        }

        .quote {
            margin-top: 10px;
            padding: 0 8%;

            i {
                opacity: 0.4;
                @include font(4vw,none,none);
            }

            p {
                margin: 55px 26px 0 27px;
                letter-spacing: -0.03px;
                text-align: justify;
                @include font(18px, none, none);
            }

            .quote-main {
                p {
                @include font(0.9vw,none,none);
                }
            }

            .quote-right {
                padding-top: 13%;
            }
        }
    }
}

// End main

.footer {
    background-color: #39474e;
    @include size(none, 179px);
    @include font(0.7vw,none,none);

    .hapo-erp {
        img {
            margin-top: -40px;
            @include size(100px, 25px);
        }

        line-height: 60px;
    }

    .footer-header {
        margin-top: 45px;

        p {
            color: #b4ec51;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    .end {
        i {
            color: #b4ec51;
        }

        padding-top: 110px;
        @include size(150px, none);
    }
}

// End footer