@import url("https://fonts.google.com/specimen/Roboto");
.no-padding {
  padding: 0 !important;
  overflow-x: hidden; }

.start button {
  padding: 14.5px 52.5px;
  background: #8bc34a linear-gradient(to right, #429321, #b4ec51);
  box-shadow: 1px 1px 2px #888888;
  font: 16px roboto;
  border-color: #8bc34a !important;
  border-radius: 100px; }

.padding-main {
  padding: 100px 18.5%; }

.padding-footer {
  padding: 0 19.5%; }

.container-fluid .main > div:nth-child(2) {
  display: none; }
.container-fluid .main > div:nth-child(4) {
  display: none; }
.container-fluid .main > div:nth-child(6) {
  display: none; }
.container-fluid .main > div:nth-child(8) {
  display: none; }
.container-fluid .main > div:nth-child(10) {
  display: none; }
.container-fluid .main > div:nth-child(12) {
  display: none; }
.container-fluid .main > div:nth-child(13) {
  display: none; }
.container-fluid .main > div:nth-child(15) {
  display: none; }

.container-fluid .footer-all > div:nth-child(2) {
  display: none; }

.header {
  height: 873px;
  background-image: url("../image/header-pc.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .header .click-button {
    padding: 2% 20.3%; }
    .header .click-button .about-us {
      text-decoration: none;
      padding: 0.8% 3% 0 0;
      font-size: 12px;
      color: black;
      font-weight: none; }
    .header .click-button .sign-in {
      border-radius: 100px;
      font-size: 12px;
      color: none;
      font-weight: none;
      width: 82px;
      height: 36px; }
  .header .logo {
    padding-top: 7.5%; }
  .header .icon-text {
    padding-top: 2.5%;
    text-align: center;
    font-size: 48px;
    color: none;
    font-weight: lighter; }
    .header .icon-text .icon-header {
      width: 290px; }
    .header .icon-text p {
      font-size: 36px;
      color: none;
      font-weight: none; }
  .header .text-header {
    font-size: 18px;
    padding: 2% 0 1.5% 0; }

.main .text {
  width: 50%; }
  .main .text .text-first {
    font-size: 2.3vw;
    color: none;
    font-weight: lighter; }
    .main .text .text-first i {
      margin-right: 18px;
      font-size: 1.5vw;
      color: none;
      font-weight: none; }
  .main .text p.text-two {
    margin: 15px 0 28px 0;
    font-size: 0.65vw;
    color: none;
    font-weight: none; }
  .main .text p.text-three {
    text-align: justify;
    line-height: 24px;
    margin-bottom: 40px;
    font-size: 0.6vw;
    color: none;
    font-weight: none; }
  .main .text .text-big {
    margin-bottom: 13px; }
    .main .text .text-big .text-four div {
      color: #8bc34a;
      padding-right: 3%;
      font-size: 0.8vw;
      color: none;
      font-weight: none; }
    .main .text .text-big .text-four .text {
      line-height: 24px;
      overflow-y: hidden;
      text-align: justify;
      width: 100%;
      height: 50px;
      font-size: 0.6vw;
      color: none;
      font-weight: none; }
.main .image {
  width: 50%; }
  .main .image img {
    width: 100%; }
.main .today {
  box-shadow: -10px 5px 10px #d8d8d8;
  padding-bottom: 100px; }
.main .customers {
  box-shadow: 10px -5px 10px #d8d8d8;
  padding-top: 100px; }
.main .option {
  background-image: linear-gradient(to right, #429321, #b4ec51);
  padding: 0 0; }
  .main .option .row {
    margin: 0 !important; }
  .main .option .circle {
    border-radius: 100px;
    border: 1.5px solid white;
    font-size: 36px;
    color: white;
    font-weight: lighter;
    width: 105px;
    height: 105px; }
  .main .option .small-circle {
    border-radius: 100px;
    border: 1.5px solid white;
    margin-top: -15px;
    background-image: linear-gradient(to right, #429321, #b4ec51);
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: white;
    font-weight: lighter; }
  .main .option .text {
    color: white;
    font-size: 15px; }
.main .our-customer {
  background: url("../image/bannerend.png") no-repeat;
  color: white;
  padding: 3% 20.3%; }
  .main .our-customer h1 {
    padding-bottom: 3%;
    font-size: 48px;
    color: none;
    font-weight: lighter; }
  .main .our-customer .customer {
    cursor: pointer; }
    .main .our-customer .customer p {
      font-size: 10px;
      color: none;
      font-weight: none; }
    .main .our-customer .customer:hover {
      transform: scale(1.1, 1.1); }
  .main .our-customer .carousel-inner {
    padding: 10px 5px; }
  .main .our-customer .carousel-indicators {
    margin-bottom: -20px; }
    .main .our-customer .carousel-indicators li {
      background-color: unset;
      border: 1px solid #979797;
      border-radius: 100%;
      margin: 0 10px;
      width: 10px;
      height: 10px; }
    .main .our-customer .carousel-indicators .active {
      background-color: #FFFFFF; }
  .main .our-customer .quote {
    margin-top: 10px;
    padding: 0 8%; }
    .main .our-customer .quote i {
      opacity: 0.4;
      font-size: 4vw;
      color: none;
      font-weight: none; }
    .main .our-customer .quote p {
      margin: 55px 26px 0 27px;
      letter-spacing: -0.03px;
      text-align: justify;
      font-size: 18px;
      color: none;
      font-weight: none; }
    .main .our-customer .quote .quote-main p {
      font-size: 0.9vw;
      color: none;
      font-weight: none; }
    .main .our-customer .quote .quote-right {
      padding-top: 13%; }

.footer {
  background-color: #39474e;
  width: none;
  height: 179px;
  font-size: 0.7vw;
  color: none;
  font-weight: none; }
  .footer .hapo-erp {
    line-height: 60px; }
    .footer .hapo-erp img {
      margin-top: -40px;
      width: 100px;
      height: 25px; }
  .footer .footer-header {
    margin-top: 45px; }
    .footer .footer-header p {
      color: #b4ec51; }
    .footer .footer-header a {
      color: white;
      text-decoration: none; }
  .footer .end {
    padding-top: 110px;
    width: 150px;
    height: none; }
    .footer .end i {
      color: #b4ec51; }

/*# sourceMappingURL=style.css.map */
